
<!-- Sidebar/menu -->
<nav class="setting-box w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding"
style="z-index:3;width:200px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">
  Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Company<br>Name</b></h3>
  </div>
  <div class="w3-bar-block">
    <!-- <div class="toggle-settings">
      <i class="gearSett sett"></i>
  </div> -->
    <a routerLink="/admin/dashboard" class="w3-bar-item w3-button w3-hover-white">
      Admin</a>
    <a routerLink="/" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a routerLink="/loginUser" class="w3-bar-item w3-button w3-hover-white"
    *ngIf="!au.userLoggedIn()">Login</a>
    <!-- <a routerLink="/loginUser" class="w3-bar-item w3-button w3-hover-white"
    *ngIf="!verIfUser">Login</a> -->
    <a routerLink="/registerUser" class="w3-bar-item w3-button w3-hover-white"
    *ngIf="!au.userLoggedIn()">Register</a>
    <a routerLink="/student" class="w3-bar-item w3-button w3-hover-white"
    *ngIf="!au.userLoggedIn()">Student</a>
    <a (click)="logout()" class="w3-bar-item w3-button w3-hover-white"
    *ngIf="!au.userLoggedIn()">Logout</a>
    <a routerLink="/products" class="w3-bar-item w3-button w3-hover-white">Products</a>

  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<router-outlet></router-outlet>
